@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #c4bcbc;
    padding: 10%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* input, button {
    font: inherit;
} */

p {
    text-align: justify;
    line-height: 1.5;
}

.container {
    margin: 2vw auto;
}